.dcomponent {
  display: flex;
}

.dcomponent .label {
  flex: 1 ;
  margin: 0.75rem 0rem 0.25rem 1rem;
  max-width: 7rem;
}

.dcomponent .wrapper {
  flex: 1;
  margin: 0.5rem 1rem 0.5rem 0.5rem;
}