.dcomponent .scaffold {
  display: flex;
}

.dcomponent .scaffold .label,
.dcomponent .scaffold  .wrapper {
  flex: 1;
  margin: 0.5rem 0;
}

.dcomponent .scaffold  .label {
  max-width: 7rem;
  cursor: pointer;
}